/* Paginação */
.swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.25);
  width: 6px;
  height: 6px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #1976d2; /* primary de MUI por defecto */
}

/* Flechas */
.swiper-button-next,
.swiper-button-prev {
  color: #1976d2;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(25, 118, 210, 0.08);
  backdrop-filter: saturate(140%) blur(2px);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(25, 118, 210, 0.16);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px;
  font-weight: 700;
}